@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(https://fonts.googleapis.com/css?family=Rye);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Play:wght@400;700&family=Playfair+Display:wght@500&family=Yatra+One&display=swap);

body {
  background-color: rgb(218, 235, 240);
}

.app-name {
  font-family: 'Play', sans-serif;
}

.sub-title {
  font-family: 'Playfair Display', serif;
}

.text, .how-to {
  font-family: 'Josefin Sans', sans-serif;
}

.game-options {
  font-family: 'Yatra One', cursive;
}
.welcome {
  background-image: url('../public/welcome.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}

.welcome-section {
  height: 600px;
  width: 600px;
}

.participate {
  width: 900px;
  margin-right: 20%;
}

.game-home {
  background-image: url("../public/play.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.start-game {
  background-image: url("../public/quiz.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.direction-buttons {
  height: 200px;
  width: 400px;
  background: rgb(228, 180, 60);
  background: radial-gradient(
    circle,
    rgba(228, 180, 60, 1) 0%,
    rgba(226, 135, 1, 1) 51%,
    rgba(244, 239, 0, 1) 92%
  );
  margin-bottom: 20%;
}

.home-buttons-div {
  padding: 10%;
}

.dir-button {
  font: normal 70px/150px "Rye";
  padding: 5% 17%;
}

.dir-button1 {
  font: normal 60px/70px "Rye";
  padding: 11% 10% ;
}

.start-button {
  font: normal 70px/150px "Rye";
  height: 200px;
  width: 800px;
  margin: 15% 20% 20% 10%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.egg {
  --size: 200px;
  display: flex;
  align-items: flex-end; /* Align items at the bottom */
  justify-content: center; /* Center align horizontally */
  width: var(--size);
  height: calc(var(--size) * 1.44);
  background-color: #96d2d3;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  margin-top: 5%;
  margin-left: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.user-avatar {
  width: 180px;
  height: 180px;
  margin-bottom: 20px; /* Add margin at the bottom */
  background-color: rgba(226, 135, 1, 1);
}

.box-shadow {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  height: 400px;
  width: 400px;
  background-color: #8fb3bd;
}

.play-section {
  background-image: url("../public/play.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.play-div {
  height: 600px;
  display: flex;
  flex-direction: colum;
  justify-items: center;
}


.m-contents {
  width: 150%;
}

.marketting-logo {
  background: radial-gradient(
    circle,
    rgba(204, 242, 247, 1) 0%,
    rgba(148, 168, 233, 1) 100%
  );
  height: 400px;
  width: 400px;
  padding-left: 15%;
  margin-right: 10%;
  margin-top: 30%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
